#Wrapper {
    padding: 25px 45px 5px 55px;

}
#mento-Menagement{
    display: inline-block;
    position: absolute;
    z-index: 3;
    transform: translate(320px, 48px);
    color: var(--text-text-balck, #1C1C1C);

    /* PageTitle_24 B */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

#present-Mentoring {
    display: inline-block;
    position: absolute;
    z-index: 3;
    transform: translate(350px, 140px);
    color: var(--text-text-grey-2, #737579);

    /* Label_16 Reg */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

#mento-DeadLine {
    display: inline-block;
    position: absolute;
    z-index: 3;
    transform: translate(800px, 140px);
    color: var(--text-text-grey-2, #737579);

    /* Label_16 Reg */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

#mento-Max {
    display: inline-block;
    position: absolute;
    z-index: 1;
    transform: translate(800px, 240px);
    color: var(--text-text-grey-2, #737579);

    /* Label_16 Reg */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

#data-Mentoring {
    display: inline-block;
    position: absolute;
    z-index: 1;
    transform: translate(380px, 180px);
    color: var(--text-text-balck, #1C1C1C);

    /* Tab_20 SB */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}